/* Desktop */
@media all and (min-width: 768px) {
    body {
       padding-left: 20%;
       padding-right: 20%
    }
}

/* Mobiles */
@media all and (max-width: 767px) {
    body {
       padding-left: 5%;
       padding-right: 5%
    }
}
h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    color: blue;
    letter-spacing: -2px;
    margin-bottom: 32px
}

h2 {
    font-size: 36px;
    color: blue;
    margin-bottom: 4px;
}

h3 {
    font-size: 24px;
    color: blue;
    margin-bottom: 4px;  
}

p {
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 0;
    color: darkslateblue;
    line-height: 1.6;
}
